//- ini bagian header, terdapat judul/title dan import dari CSS

doctype html
html
	head
		block head
			block title
				title Dunia NodeJS
			block meta
				meta(name='author', content='@zulfinjuliant')
				meta(name='description', content='nodejs-template')
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/animate.css')
			link(rel='stylesheet', href='/css/font-awesome.min.css')
			| <style>
			| body { padding-top: 60px; }
			| p {text-align: center;}
			| </style>
	body
		include menu
		block content
		include footer